html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}


.form-inner {
    position: relative;
    display: block;
    padding: 30px;
    z-index: 2;
    text-align: center;
}

.form-inner h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    margin-top: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
